nav {
    background-color: #1f2730C1;
    color: #fff;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black; 
}

nav a {
    border-radius: 14px;
    display: block;
    color: #fff;
    padding: 1% 5%;
    text-decoration: none;
}

#navbar a:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
    background-color: #2A87C05F;
}

#logo {
    padding-left: .5%;
    padding-top: .5%;
    float: left;
    margin-right: 15%;
}